:root {
    --text-bright: #DDD;
}
* {
    color: #CCC;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 13pt
}
a {
    text-decoration: none;
}
b {
    color: var(--text-bright);
    font-weight: 500;
}
body {
    background-color: #234;
    padding-left: 20px;
}
td {
    padding: 4px 0 4px 7px;
    border-bottom: 1px solid #0005;
    transition: background-color 1s;
}
h1 {
    font-weight: 100;
    font-family: Verdana;
    color: #7b858f;
    font-size: 27pt;
}
h2 {
    font-weight: 100;
    font-family: Verdana;
    color: #5d84ac;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: #0002;
}
thead tr td {
    color: #AAA;
}
td {
    padding-left: 10px;
    padding-right: 20px;
    min-width: 70px;
}
td:last-child {
    padding: 0 5px 0 0px;
}
.colSorter {
    background-color: #0004;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.colSorter.on {
    background-color: #0008;
}
td.colNarrow {
    max-width: 30px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 35px;
    color: #778088;
}
img#heading {
    position: absolute;
    top: 30px;
    left: 890px;
    opacity: 0.4;
    width: 130px;
}
.feint {
    opacity: 0.4;
}
.bracket {
    min-width: 60px;
    display: inline-block;
}
.bracket::before {
    content: "(";
}
.bracket::after {
    content: ")";
}
.word {
    color: var(--text-bright);
    font-weight: 500;
}
table#vocab tr:hover {
    background-color: #FFF1;
    cursor: pointer;
}
.sakhti {
    border-radius: 8px;
    text-align: center;
    width: 70px;
}
.sakhti i {
    opacity: 0.6;
}
.off {
    opacity: 0.3;
}