:root {
    --text-bright: #DDD;
}
* {
    color: #888;
    font-family: sans-serif;
    font-weight: 100;
}
a {
    text-decoration: none;
}
b {
    color: var(--text-bright);
    font-weight: 500;
}
body {
    background-color: #234;
    padding-left: 20px;
}
td {
    padding: 4px 0 4px 7px;
    border-bottom: 1px solid #0005;
}
h1 {
    font-weight: 100;
    font-family: Verdana;
    color: #7b858f;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: #0002;
}
thead tr td {
    color: #AAA;
}
td {
    padding-left: 10px;
    padding-right: 20px;
    min-width: 70px;
}
.colSorter {
    background-color: #0004;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.colSorter.on {
    background-color: #0008;
}
img#heading {
    position: absolute;
    top: 30px;
    left: 890px;
    opacity: 0.4;
    width: 130px;
}
.feint {
    opacity: 0.4;
}
.bracket {
    min-width: 60px;
    display: inline-block;
}
.bracket::before {
    content: "(";
}
.bracket::after {
    content: ")";
}
.word {
    color: var(--text-bright);
    font-weight: 500;
}